<%= form_for(@subletter) do |f| %>
  <% if @subletter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subletter.errors.count, "error") %> prohibited this subletter from being saved:</h2>

      <ul>
      <% @subletter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
